/* styles.css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.board {

  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  /* width: calc(25% - 10px);
  height: calc(33.333% - 10px); */
  width: 90px;
  height: 90px;
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);

  background-color: chocolate;
}

.card{
  background-size: 90px 90px;
}


